<div class="wrapper">
  <div>
    <table class="table">
      <tr>
        <th>User</th>
        <th>Books</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>
          <a [routerLink]="['/user']" [queryParams]="{userId: user.id}" title="View library">
            {{user.username}}
          </a>
        </td>
        <td>{{user.books === null ? 0 : user.books.length}}</td>
      </tr>
    </table>
    <app-add-user (addUser)="addUser($event)"></app-add-user>
  </div>
  <div>
    <app-books [books]="books"></app-books>
    <form (ngSubmit)="onSubmit()">
      <input type="text" name="isbn" autocomplete="false" [(ngModel)]="searchIsbn" placeholder="ISBN">
      <input type="submit" value="Search by ISBN">
    </form>
    <div>or</div>
    <a [routerLink]="['/add-book']">
      <button>Add New Book</button>
    </a>
  </div>
</div>



