.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.table {
  margin-bottom: 10px;
}

.table, .table th, .table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table td, .table th {
  padding: 2px;
  text-align: center;
}
