<a [routerLink]="['/']">Home</a>
<div *ngIf="!loading && !error">
  <p>{{user.username}}'s Library</p>
  <app-books *ngIf="user.books.length > 0" [books]="user.books"></app-books>
  <p *ngIf="user.books.length == 0"><i>Library is empty</i></p>
  <form (ngSubmit)="onSubmit()">
    <input type="text" name="isbn" autocomplete="false" [(ngModel)]="addIsbn" placeholder="ISBN">
    <input type="submit" value="Add Book">
  </form>
  <br>
  <button (click)="onDelete()" name="Delete">Delete User</button>
</div>
<div *ngIf="error">
  <p>Error occurred while fetching data</p>
</div>
